<!doctype html>
<html ng-app="app">
<head>
    <title>Thumbning</title>
</head>
<body>
{% verbatim %}

<main ng-controller="Main">
    <form class="dropzone" method="post" enctype="multipart/form-data" dropzone="dropzoneConfig">
        <input name="file" type="file" multiple />
    </form>
</main>

{% endverbatim %}

<script src="assets/js/vendor.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>