<!doctype html>
<html ng-app="app">
<head>
    <title>Thumbning</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
{% verbatim %}

<main ng-controller="MainController">
    <form class="dropzone" method="post" enctype="multipart/form-data" dropzone="dropzoneConfig">
        <input name="file" type="file" multiple />
    </form>
</main>

{% endverbatim %}

<script src="assets/js/vendor.js"></script>
<script src="assets/js/app.js"></script>

{% if app.debug %}
<script type="text/javascript">
    document.write('<script src="//localhost:35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
</script>
{% endif %}
</body>
</html>